<!-- Navbar goes here -->
<nav class="side-nav fixed">
<ul id="slide-out">
<li><div class="userView">
      <a href="#!user"><img class="responsive-img" src="/images/logo.jpeg"></a>
    </div></li>
<li></li>
</ul>
</nav>


<!-- Page Layout here -->
<div class="row">

  <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
    <!-- Grey navigation panel

          This content will be:
      3-columns-wide on large screens,
      4-columns-wide on medium screens,
      12-columns-wide on small screens  -->

  </div>

  <div class="col s12 m12 l9" style="padding:0px;">
    <div class="row">
      <div class="col s12 m12 l12" id="header">
        <div class="col s12 m12 l12">
        <h1>Materialize</h1></div>
        <div class="col s12 m12 l12 center">
        <h4>A modern responsive front-end framework based on
          Material Design</h4>
        </div>
          <div class="col s12 m12 l12 center">
        <a class="waves-effect waves-light btn-large"id="download-button" >GET STARTED</a>
      </div>
        <div class="col s12 m12 l12 center" id="version">
          <a class="red-text text-lighten-4" >beta release v0.97.7</a>
        </div>
        <div class="buysellads-header row center">
            <!-- CarbonAds Zone Code -->
            <script async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=materializecss" id="_carbonads_js"></script>
            <div id="carbonads">
            <span><span class="carbon-wrap">
              <a href="#" class="carbon-img" target="_blank">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/26626" alt="" border="0" height="100" width="130" style="max-width:130px;"></a>
              </span><a href="http://carbonads.net/" class="carbon-poweredby" target="_blank">ads via Carbon</a></span>
            </div>
          </div>

      </div>
    </div>
  </div>

</div>
