
<!--header-->
<div class="row header">
  <div class="small-12 large-12 columns">
    <img alt="slide image" src="/images/header.jpg">
        <div class="absolute">
          <img alt="slide image" src="/images/headericon.png">
        </div>
     <div class="small-5 large-5 columns absolutebottom">
           <h2>Coma</h2>
           <br>
           <h6>Our App is</h6>
           <h5>Realeasing Soon</h5>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
           <input type="submit" class="button " value="Subscribe">
           <input type="submit" class="button " value="Watch video">
        </div>
     </div>

  </div>
<!--section1-->
<div class="row section1">
  <div class="small-9 small-centered columns">
      <div class="large-6 large-centered  columns">
        <nav class=" large-12 top-bar">
          <section class="top-bar-section">
            <ul class="center">
              <li class="small-6 large-6 name"><a href="#">App Features</a></li>
              <li class="small-3 large-3 active"><a href="#">Home </a></li>
              <li class="small-3 large-3 active"><a href="#">Social </a></li>
            </ul>
          </section>
        </nav>
      </div>
      <div class="small-6 large-4  columns">
            <div class="small-2 large-2  columns">
                <img alt="slide image" src="/images/icon1.png">
            </div>
            <div class="small-10 large-10  columns">
                <h6>Customizable</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor.</p>
            </div>
      </div>
      <div class="small-6 large-4  columns">
        <div class="small-2 large-2  columns">
            <img alt="slide image" src="/images/icon2.jpg">
        </div>
        <div class="small-10 large-10  columns">
          <h6>Photo Sharing</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor.</p>

        </div>
      </div>
      <div class="small-6 large-4  columns">
        <div class="small-2 large-2  columns">
            <img alt="slide image" src="/images/icon3.png">
        </div>
        <div class="small-10 large-10  columns">
          <h6>Fast Loading</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor.</p>
        </div>
      </div>
      <div class="small-6 large-4  columns">
        <div class="small-2 large-2  columns">
            <img alt="slide image" src="/images/icon4.jpg">
        </div>
        <div class="small-10 large-10  columns">
          <h6>Best Quality</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor.</p>
        </div>
      </div>
      <div class="small-6 large-4  columns">
        <div class="small-2 large-2  columns">
            <img alt="slide image" src="/images/icon5.png">
        </div>
        <div class="small-10 large-10  columns">
          <h6>Bootstrap Grid</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor.</p>
        </div>
      </div>
      <div class="small-6 large-4  columns">
        <div class="small-2 large-2  columns">
            <img alt="slide image" src="/images/icon6.png">
        </div>
        <div class="small-10 large-10  columns">
          <h6>Responsive Design</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor.</p>
        </div>
      </div>
    </div>
</div>



<!--section2-->
<div class="row section2">
  <div class="small-12 large-12 columns">
    <div class="small-12 large-12 columns sect2">
      <h4>App Screens</h4>
    </div>
    <div class="row">
    <div class="large-3 small-6 columns">
    <img src="/images/thum1.jpg">
    </div>
    <div class="large-3 small-6 columns">
    <img src="/images/thum2.jpg">
    </div>
    <div class="large-3 small-6 columns">
    <img src="/images/thum3.jpg">
    </div>
    <div class="large-3 small-6 columns">
    <img src="/images/thum4.jpg">
    </div>
  </div>
  </div>
</div>
<!--section3-->
<div class="row section3">
  <div class="small-12 large-12 columns">
   <h4>Subscribe Our Newsletter</h5>
   </div>
   <div class="small-10 large-10 large-centered small-centered columns">
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
<div class="small-6 large-6 small-centered large-centered columns">
  <div class="row">
    <div class="small-8 large-8 columns sect3">
        <input class="input-group-field" type="text" placeholder="Your Email address">
    </div>
    <div class="small-4 large-4 columns sect3">
        <input type="submit" class="button" value="Subscribe">
    </div>
  </div>
</div>
</div>

<!--footer-->
<div class="row footer">
 <div class="small-12 large-12 columns footer1">
   <div class="row">
     <div class="small-12 large-7 columns">
       <div class="row form">
         <form>
       <div class="small-5 large-5 columns">
          <input class="input-group-field" type="text" placeholder="Name">
       </div>
       <div class="small-5 large-5 columns">
          <input class="input-group-field" type="text" placeholder="Email">
       </div>
       <div class="small-10 large-10 columns">
          <textarea placeholder="Message"></textarea>
       </div>
       <div class="small-10 large-10 columns">
          <input type="submit" class="button" value="Submit">
       </div>
     </form>
     </div>

     </div>
     <div class="small-12 large-5 columns">
       <div class="row">
       <div class="small-12 large-12 columns">
         <h5>Address</h5>
         <p>123 Main Street,AB 0123</p>
         <p>345 Not Main Street, 4569</p>
       </div>
       <div class="small-12 large-12 columns">
         <h5>Phone</h5>
         <p>+88 017 71 299 299</p>
         <p>+88 014 40 376 995</p>
       </div>
       <div class="small-12 large-12 columns">
         <h5>Info</h5>
          <p>www.desiverweb.com</p>
          <p>contact@desiverweb.com</p>
       </div>
     </div>
     </div>

   </div>
  </div>
 <div class="small-12 large-12 columns footerbot">
   <div class="row">
     <div class="small-6 large-8 columns">
       <h3>coma</h3>
     </div>
    <div class="small-6 large-4 columns">
      <div class="row icons">
        <div class="small-4 large-2 columns">
      <img src="/images/footericon1.png"></div>
        <div class="small-4 large-2 columns">
      <img src="/images/footericon2.png"></div>
      <div class="small-4 large-2 columns">
    <img src="/images/footericon3.png"></div>
      <div class="small-4 large-2 columns">
    <img src="/images/footericon4.png"></div>
    <div class="small-4 large-2 columns">
  <img src="/images/footericon5.png"></div>
  <div class="small-4Finput large-2 columns"></div>
</div>
 </div>
</div>
<!--
<div class="small-12 large-12 columns">
  <img alt="slide image" src="/images/header.jpg">
      <div class="absolute">
        <img alt="slide image" src="/images/headericon.png">
      </div>
   <div class="small-5 large-5 columns absolutebottom">
         <h2>Coma</h2>
         <br>
         <h6>Our App is</h6>
         <h5>Realeasing Soon</h5>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
         <input type="submit" class="button " value="Subscribe">
         <input type="submit" class="button " value="Watch video">
      </div>
   </div>
